<% if flash[:error] %>
    <h2 style="color:blue;"><%= flash[:error] %></h2>
<% end %>


<% if flash[:notice] %>
    <h2 style="color:white;"><%= flash[:notice] %></h2>
<% end %>


<header>
  <h1><p style = "font-family:Verdana,arial,helvetica;">
  Login.
  </p>
  </h1>
  </header> 

<form action="/login" method="post">
<label for="username">email:   </label>
      <input type="text" name="email" id="email" required>
      <hr><label for="password">password:</label>

      <input type="text" name="password" id="password" required>
      <div style="text-align: left;">
      <hr><button type="submit" class="button" value="submit">Login</button>
<br><a href="/signup" class="button">Sign up</a>
</div>

      <header><img src="images/images-2.jpg" class="img-responsive main-image"></header>


      
</form>
 

