
   <form method="POST" action="/login">
    <label>Mobile Number or Email</label>
    <input type="text" name="Mobile Number or Email>
    <hr><label>Full Name</label>
    <input type="text" name="Full Name">
    <hr><label>Username</label>
    <input type="text" name="Username">
    <hr><label>Password</label>
    <input type="text" name="Password">
    <hr><input type="Submit">
    <hr><label>By signing up, you agree to our Terms, Data Policy and Cookies Policy.</label>
   </form>
 