<header>
  <h1>Sign up for free to start reading.</h1>

</header> 

<form method="POST" action="/login">
    <label>Mobile Number or Email</label>
    <input type="text" name="Mobile Number or Email">
    <hr><label>Full Name</label>
    <input type="text" name="Full Name">
    <hr><label>Username</label>
    <input type="text" name="Username">
    <hr><label>Password</label>
    <input type="text" name="Password">
    <hr><label>Confirm Password</label>
    <input type="text" name="Confirm Password">
    <hr><button type="submit" value="submit">Signup</button>
    <hr><label>By signing up, you agree to our Terms, Data Policy and Cookies Policy.</label>
    <h3> Have an account? <a href="http://127.0.0.1:9393/login">Log in.</a></h3>

   
   </form>
 