<% if flash[:error] %>
    <h2 style="color:blue;"><%= flash[:error] %></h2>
<% end %>


<% if flash[:notice] %>
    <h2 style="color:white;"><%= flash[:notice] %></h2>
<% end %>

<header>
  <h1><p style = "font-family:Verdana,arial,helvetica;">
  Sign up for free to start reading.
  </p>
  </h1>

</header> 
<header><img src="images/images-3.jpg" class="img-responsive main-image"></header>

<form method="POST" action="/signup">
    
    <hr><label>email</label>
    <hr><input type="text" name="email">
    <p>  </p>
    <hr><label>password</label>
    <hr><input type="text" name="password">
    <p>  </p>
      <input type="checkbox" id="check" name="check" value="terms">
<label for="check"> By signing up, you agree to our Terms, Data Policy and Cookies Policy.</label><br>
    
          <hr><button type="submit" class="button" value="submit">Signup</button>
    <h3> Have an account? 
    <br><a href="/login" class="button">Log in</a>


   </form>
 