<div class="main">
    <ul>
        <li> <a href="/books">Home</a></li>
        <li> <a href="/view">My Bookgenie List</a></li>
        <li> <a href="/books/new">Add Book</a></li>
        <li> <a href="/edit">Edit Books</a></li>
        <li> <a href="/delete">Delete Books</a></li>
    </ul>
   
</div>

<h2> Select the book you want to delete: </h2> 
<br><%@user.books.each do |book|%>
<br><%=book.book_title%>
 <br><a href="/books/<%=book.id%>/delete">Delete</a>
 <br><%end%>

 <br><a href="/books" style="text-align: center;">Back to Home</a>


