<% if flash[:error] %>
    <h2 style="color:blue;"><%= flash[:error] %></h2>
<% end %>


<% if flash[:notice] %>
    <h2 style="color:white;"><%= flash[:notice] %></h2>
<% end %>


<div class="main">
<div style="text-align: right;">
    <a href="/logout" class="button">Log Out</a>
</div>
    <ul>
        <li> <a href="/home" class="button">Home-Playlist</a></li>
        <li> <a href="/books" class="button">My Bookgenie List</a></li>
    </ul>   
</div>

 
<div style="text-align: center;">
    <h1>M Y </h1>
    <h3>B O O K G E N I E</h3>  
    <h1>L I S T </h1>  
</div>

<div style="text-align: center;">
<img src="images/unnamed.jpg" class="img-responsive main-image">

<% @user.books.each do |book| %>
    <h1><a href="/books/<%= book.id %>"><%= book.book_title  %></a></h1>
<% end %> 



 <a href="/books/new" class="block">Add Books</a>
 </div>

 





  


 




 
  

  