<div class="main">
    <ul>
        <li> <a href="/books">Home</a></li>
        <li> <a href="/view">My Bookgenie List</a></li>
        <li> <a href="/books/new">Add Book</a></li>
        <li> <a href="/edit">Edit Books</a></li>
        <li> <a href="/delete">Delete Books</a></li>
    </ul>
    <p>Click on the play button below to listen to Amazing BookGenie approved tunes while you read:</p>

    <audio controls autoplay>
    <source src="beyonce.ogg" type="audio/ogg">
    <source src="beyonce.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>
  <audio controls >
    <source src="classical.ogg" type="audio/ogg">
    <source src="classical.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>

  <audio controls >
    <source src="yousay.ogg" type="audio/ogg">
    <source src="yousay.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>

  <audio controls >
    <source src="music2.ogg" type="audio/ogg">
    <source src="music2.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>

  <audio controls >
  <source src="piano2.ogg" type="audio/ogg">
  <source src="piano2.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<audio controls >
  <source src="relax.ogg" type="audio/ogg">
  <source src="relax.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<audio controls >
<source src="flood.ogg" type="audio/ogg">
<source src="flood.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<audio controls >
<source src="otherside.ogg" type="audio/ogg">
<source src="otherside.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<audio controls >
<source src="pianootherside.ogg" type="audio/ogg">
<source src="pianootherside.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
</div>
<header><img src="images/matcha.jpg" class="img-responsive main-image"></header>
<header><img src="images/bookpic.jpg" class="img-responsive main-image"></header>



    
