


<div class="main">
<div style="text-align: right;">
<a href="/logout" class="button">Log Out</a>
</div>
    <ul>
        <li> <a href="/home" class="button">Home</a></li>
        <li> <a href="/books" class="button">My Bookgenie List</a></li>
       
    </ul>
   
</div>
 
  <div style="text-align: center;">
<h1>C R E A T E  </h1>
<br><h1>M Y </h1>  
<br><h3>B O O K G E N I E</h3>  
<br><h1>L I S T </h1> 
 



<fieldset>

    
<form action="/books" method="POST" >

<div style="text-align: center;">
	<label>Book Title</label>
    <hr><input type="text" name="Book Title">
    <p>  </p>

    <label>Author</label>
    <hr><input type="text" name="Author">
    <p>  </p>
	
     <label>Book Genre</label>
     <hr><input type="text" name="Book Genre">
     <p>  </p>
     <label>Number of Pages</label>
     <hr><input type="text" name="Number of Pages">
     <p>  </p>
     <label>Starting Date</label>
     <hr><label for="date">Select a date:</label>
     <input type="date" id="myDate" name="start">    
     <p id="demo"></p>

     
     <script>
     function myFunction() {
       var x = document.getElementById("myDate").value;
       document.getElementById("demo").innerHTML = x;
     }
     </script>
     
   

     <p>  </p>
     <label>End Date</label>
     <hr><label for="date">Select a date:</label>
    <input type="date" id="myDate" name="end">    
     <p id="demo"></p>
     
     <script>
     function myFunction() {
       var x = document.getElementById("myDate").value;
       document.getElementById("demo").innerHTML = x;
     }
     </script>
     
   

     <hr><label>1st time I can read (Atleast 5 minutes): </label>
     <hr><label for="time">Select a time:</label>
  <input type="time" id="1st_time" name="time_1">

     </select>
     <p>  </p>
     <hr><label>2nd time I can read (Atleast 5 minutes):</label>
     <hr><label for="time">Select a time:</label>
     <input type="time" id="2nd_time" name="time_2">
        
	 </select>
     <p>  </p>
     <hr><label>Have I read this book yet?</label>
     <hr><select id="Select option" name="read">
		<option value="yes">Yes</option>
		<option value="no">No</option>
    </select>
    







     
    <br>
    <p>  </p>
    <hr><button type="submit" class="button" value="submit">Add to BookGenie</button>
    <br><a href="/books" class="button" style="text-align: center;">Back</a>
    </form>
    </div>
    </fieldset>
   



   

     