<div class="main">
<div style="text-align: right;">
<a href="/logout" class="button">Log Out</a>
</div>
    <ul>
        <li> <a href="/books" class="button">Home</a></li>
        <li> <a href="/view" class="button">My Bookgenie List</a></li>
    

    </ul>
   
</div>

<div style="text-align: center;">
<h1> G E N I E  </h1>
  <br><h1>G R A N T E D </h1>  
  <br><h3>Y O U R</h3>  
  <br><h1>W I S H </h1>  
  <img src="/images/books1.png" /> 
   <h1>Your new book has been added to your BookGenie list below:</h1>
<h2><%= @book.book_title %></h2>
<a href="/books/<%= @book.id %>/edit" class="button" style="text-align: center;">Edit Book</a>

</div>

<a href="/books/new" class="block">Add Books</a>
