
<div style="text-align: right;">
<a href="/signup" class="button">Signup</a>
<a href="/login" class="button">Login</a>
</div>

<div style="text-align: right;">
<audio controls autoplay>
<source src="friendlikeme.ogg" type="audio/ogg">
<source src="friendlikeme.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
</div>

<p>  </p>
<div style="text-align: left;">

<header><img src="images/rebrand.jpg" class="img-responsive main-image"></header>
</div>

  <div style="text-align: center;">

<iframe width="560" height="315" src="https://www.youtube.com/embed/2OCDJEK6G_g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      <source src="video1.mp4" type=video/mp4>
   
</div>



<div style="text-align: center;">

<h2><p style = "font-family:Verdana,arial,helvetica;">
YOU AIN'T NEVER HAD A FRIEND LIKE ME! 
Wish you could finishing reading all those books on your booklist? 
Wish you could finally keep track of all your recommended books?
BookGenie is here to grant you those wishes!
  </p>
  </h2>
  <img src="/images/ppl.jpg" /> 

  <h3><p style = "font-family:Verdana,arial,helvetica;">
1. <a href="/signup" class="button">Signup</a> <hr><p style = "font-family:Verdana,arial,helvetica;"> 2. Create & store your personal book list! <hr><p style = "font-family:Verdana,arial,helvetica;"> 3. Set reading schedule<hr> 
  </p>
  </h3>
  </div>

   
  
    
