<div class="container">
  <header><img src="images/BookGenie-logo.png" class="img-responsive main-image"></header>
  
  <div class="col-md-8 col-md-offset-2">
    <h2>Have trouble finishing all those books on your booklist? We're here to help!</h2>

    <div class="content">
      <p>Welcome to the BookGenie! </p>
    </div>

    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
