<a href="http://127.0.0.1:9393/login"><button>Login</button></a>
<a href="http://127.0.0.1:9393/signup"><button>Signup</button></a>

<p>  </p>
  <header><img src="images/Bookgenielogo.png" class="img-responsive main-image"></header>
  
  <audio controls autoplay>
  <source src="friendlikeme.ogg" type="audio/ogg">
  <source src="friendlikeme.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>


<h2><p style = "font-family:Verdana,arial,helvetica;">
YOU AIN'T NEVER HAD A FRIEND LIKE ME! Have trouble storing and finishing all those books on your booklist? BookGenie is here to grant your wish!
  </p>
  </h2>

  <h3><p style = "font-family:Verdana,arial,helvetica;">
1. Sign up <hr><p style = "font-family:Verdana,arial,helvetica;"> 2. Create & store your personal book list! <hr><p style = "font-family:Verdana,arial,helvetica;"> 3. Set reading schedule<hr> 
  </p>
  </h3>

   
  
    
