
<div style="text-align: right;">
<a href="/login" class="button">Login</a>
<a href="/signup" class="button">Signup</a>
</div>
<div style="text-align: right;">
<audio controls autoplay>
<source src="friendlikeme.ogg" type="audio/ogg">
<source src="friendlikeme.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
</div>
<p>  </p>
<div style="text-align: center;">
  <header><img src="images/Bookgenielogo.png" class="img-responsive main-image"></header>

  

<video width="900" height="600" controls>
      <source src="video1.mp4" type=video/ogg>
      <source src="video1.mp4" type=video/mp4>
    </video>
</div>




<h2><p style = "font-family:Verdana,arial,helvetica;">
YOU AIN'T NEVER HAD A FRIEND LIKE ME! 
Wish you could finishing reading all those books on your booklist? 
Wish you could finally keep track of all your recommended books?
BookGenie is here to grant you those wishes!
  </p>
  </h2>
  <img src="/images/books.png" /> 

  <h3><p style = "font-family:Verdana,arial,helvetica;">
1. Sign up <hr><p style = "font-family:Verdana,arial,helvetica;"> 2. Create & store your personal book list! <hr><p style = "font-family:Verdana,arial,helvetica;"> 3. Set reading schedule<hr> 
  </p>
  </h3>

   
  
    
